.hero{
  height:100vh;

  background:
  linear-gradient(
  rgba(0,0,0,.55),
  rgba(0,0,0,.65)
  ),
  url(../../assets/stadium.png);

  background-size:cover;
  background-position:center;
}

.overlay{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.hero-content{
  text-align:center;
  color:white;
}

.hero-content h1{
  font-size:3rem;
  margin-bottom:20px;
}

.hero-content p{
  max-width:600px;
  margin:auto;
  color:#ddd;
  margin-bottom:40px;
}

.hero-buttons{
  display:flex;
  justify-content:center;
  gap:20px;
}

.primary-btn{
  background:#00d084;
  color:white;
  border:none;
  padding:16px 34px;
  border-radius:14px;
}

.secondary-btn{
  background:rgba(255,255,255,.15);
  color:white;
  border:1px solid rgba(255,255,255,.2);
  padding:16px 34px;
  border-radius:14px;
}

@media(max-width:768px){

  .hero-content h1{
    font-size:32px;
  }

  .hero-buttons{
    flex-direction:column;
  }
}